.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group-name
        test
      .main-chat__group-info__left-box__members
        .main-chat__group-info__left-box__members__member
          Member：
        .main-chat__group-info__left-box__members__member-name
          aaa
    .main-chat__group-info__edit-btn
      Edit

  .main-chat__message-list
    .main-chat__message-list__messages
      .main-chat__message-list__messages__message-info
        .main-chat__message-list__messages__message-info__user-name
          aaa
        .main-chat__message-list__messages__message-info__date
          2020/01/01(wed) 00:00:00
      .main-chat__message-list__messages__message
        テストです

  .main-chat__form
    %form.main-chat__form__new-message
      .main-chat__form__new-message__input-box
        %input.main-chat__form__new-message__input-box__text{type: "text", placeholder: "type a message"}
        %label.main-chat__form__new-message__input-box__image
          = icon('fas', 'image')
          %input.main-chat__form__new-message__input-box__image__file{type: "file"}
      %input.main-chat__form__new-message__submit-btn{type: "submit", value: "Send"} 